nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -12px;
  left: 300px;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(17, 133, 36);
    padding: 10px;
    margin: 2px;
}
a{
    color: white;
}
nav#menu{
    display: block;
}
nav#menu h1{
 display: none;
}
nav#menu li:hover{
    background-color: red;
}